body {
   min-width: 320px;
}


a,
input[type=button],
input[type=submit],
button {
   cursor: pointer;
}

.btn-link {
  color: #0275d8;


&:hover {
    text-decoration: underline !important;
}
&:focus {
    box-shadow: none !important;
    color: #0275d8;
    text-decoration: none;
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],

select option,

textarea {
 font-size: 16px;
}

.ng-validated.ng-dirty,
.ng-validated.ng-dirty:focus {
  border-color: #D9534E !important;
}
input::-webkit-input-placeholder {
  color: rgba(0,0,0,.25) !important;
  opacity: 1 !important;
}
input::-moz-placeholder {
   color: rgba(0,0,0,.25) !important;
   opacity: 1 !important;
}
input:-moz-placeholder {
  color: rgba(0,0,0,.25) !important;
  opacity: 1 !important;
}
input::-ms-input-placeholder {
   color: rgba(0,0,0,.25) !important;
   opacity: 1 !important;
}

.opacity-half {
  opacity:.5;
}
